.movies-container {
  padding: 0px 150px 0px 150px;
  text-align: center;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.movie-card {
  background: #F6E8EA;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(173, 173, 173, 0.425);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.movie-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 8px 20px rgba(172, 172, 172, 0.514);
}

.poster {
  width: 100%;
  height: 320px;
  background-position: center;
  background-size: cover;
}

.movie-info {
  padding: 12px 15px;
  text-align: left;
}

.movie-info h3 {
  font-size: 18px;
  margin: 0 0 8px;
  color: #222;
  font-weight: 600;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 6px;
  color: #555;
}

.director {
  font-size: 14px;
  color: #777;
}
.func-container{
display: flex;
justify-content: center;
gap: 50px;
}

.search-bar,.sort-bar {
  margin-bottom: 50px;
  margin-top: 50px;
}

.search-bar input,
.sort-bar select {
  width: 320px;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ddd;
  outline: none;
}

.search-bar input:focus,
.sort-bar select:focus {
  border-color: #009579;
  box-shadow: 0 0 0 1px rgba(0, 149, 121, 0.3);
}

.sort-bar select {
  cursor: pointer;
}

@media (max-width: 900px) {
  .movies-container {
  padding: 0;
}
}