.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #F7F7F7;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  max-width: 450px;
    width: 100%;

}

.container .form {
  padding: 2.8rem;
}

.form header {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form input {
  height: 65px;
  width: 100%;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #F7F7F7;
  border-radius: 6px;
  outline: none;
}

.form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form a {
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form input.button {
  color: #F7F7F7;
  background: #AAAE7F;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
  border: none;
}

.form input.button:hover {
  background: #92966c;
}

.signup {
  font-size: 17px;
  text-align: center;
  margin-top: 1rem;
}

.signup a {
  color: #009579;
  cursor: pointer;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
   .container {
    max-width: 95%;
  }

  .container .form {
    padding: 1rem;
  }

  .form header {
    font-size: 2rem;
  }

  .form input {
    height: 60px;
  }

  .form input.button {
    height: 60px;
  }
}

