header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 40px;
}

.nav {
  display: flex;
  gap: 15rem;
}

.nav a {
  color: #F7F7F7;
  text-decoration: none;
  font-size: 25px;
  transition: 0.3s;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  position: relative;
}

.nav a:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0;
  background: #fff;
  transition: 0.3s;
}

.nav a:hover:after {
  width: 100%;
}

#menu-toggle {
  display: none;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger span {
  height: 3px;
  width: 30px;
  background: white;
  margin: 5px 0;
  transition: 0.3s;
}


@media (max-width: 1400px) {
  .burger {
    display: flex;
  }

  .nav {
    position: absolute;
    top: 70px;
    right: 0;
    background: #363636;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 2rem;
    padding: 30px 0;
    background: radial-gradient(circle at top, #1c1c1c, #0f0f0f);
    transform: translateY(-200%);
    transition: 0.4s ease-in-out;
  }

  #menu-toggle:checked + .burger + .nav {
    transform: translateY(0);
  }
}
