.nav-container {
  max-width: 1400px;
  margin: 0 auto;
  height: 64px;
  justify-content: space-between;
  padding: 0 20px;
  display: flex;
  align-items: center;
}


.logo-title {
  font-weight: 700;
  font-size: 25px;
  color: white;
  letter-spacing: 4px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.3s;
}

.nav a:hover {
  background: #1f262d;
}

.nav .register {
  background: #1ed760;
  color: black;
  font-weight: 600;
}

.nav .register:hover {
  color: rgb(255, 255, 255);
}

.nav .login {
  background: #1f262d;
}

#menu-toggle {
  display: none;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.burger span {
  width: 22px;
  height: 2px;
  background: white;
}

.hello {
  color: white;
  font-size: 16px;
  margin-right: 10px;
}

.logout {
  background: #ff4d4d;
  color: white;
  cursor: pointer;
}

.logout:hover {
  background: #ff1f1f;
}

@media (max-width: 900px) {
  .header-search {
    display: none;
  }

  .burger {
    display: flex;
  }

  .nav {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background: #0e1215;
    flex-direction: column;
    display: none;
    z-index: 100;
  }

  #menu-toggle:checked ~ .nav {
    display: flex;
  }
}