*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: radial-gradient(circle at top, #1c1c1c, #000);
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}